.container {
  position: relative;
  top: 0;
  width: 200px;
  height: 100vh;
  padding: 1rem;
  background-color: rgb(234, 237, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}


li {
  list-style: none;
  text-align: center;
  color: rgb(46, 53, 70);
  text-transform: capitalize;
  cursor: pointer;
}

/* li:hover {
  background-color: rgb(195, 205, 222);
  border-radius: 5px;
} */

a {
  text-decoration: none;
  color: rgb(46, 53, 70);
}

.icono {
  height: 15px;
  width: 15px;
  padding: 5px;
  box-shadow: 5;


  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -8px;
  top: 5px;
  bottom: 0;

  /* border: 1px solid; */

}

.icon-btn {
  border-style: none;
  background-color: rgb(212, 214, 228);
  border-radius: 80px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /*  border: 1px solid blue; */
  margin-top: 20px;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem 0;
  /*   flex-direction: column;
  align-items: center;
  align-content: center; */
}

.menu-items img {
  width: 38px;
  height: 38px;
}

.menu-items button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}

.subMenuHidden {
  display: none;
}

.subMenuShow a {
  display: block;
  height: 100%;

  text-align: left;

  padding: 0.5rem 2rem;
  margin-top: 1rem;
}

.subMenuShow a:hover {
  background-color: rgb(195, 205, 222);
  border-radius: 5px;
}

.btnIcon {
  display: flex;
  flex-direction: column;
}

.showSideNavClass {
  position: relative;
  width: 50px;
  height: 100vh;
  padding: 1rem;
  background-color: rgb(234, 237, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: width 1s, height 2s;

}

.showSideNavClass a {
  display: none;
}

.showSideNavClass .menu {
  gap: 4rem;
}

.activate {
  background-color: rgb(195, 205, 222);
  border-radius: 5px;
}